@keyframes slideFromBottom {
  0% { top: 70%; }
  100% { top: 25%; }   
}


@-webkit-keyframes  slideFromBottom {
  0% { top: 25%; }
  100% {   top: 70%; }   
}

@keyframes slideFromTop {
  0% { top: 25%; }
  100% { top: 70%; }   
}


@-webkit-keyframes  slideFromTop {
  0% { top: 25%; }
  100% {   top: 70%; }   
}