/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
   background-color: #2C303A;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
